/* Layout.css */
.layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    margin-top: 5px; /* Adjust this value based on your header height */
    margin-bottom: 5px; /* Adjust this value based on your footer height */
}
